{% extends 'basic_templates/login_basic.html' %}
{% load static %}

{% block head %} Admin Portal {% endblock %}
{% block body %} <form action="/adminportal", method="post"> {% csrf_token %}
    <p>USERNAME : 
        <input type="text" name="user" placeholder="Enter username" autocomplete="off" required maxlength="10" ></p>   
    <p>PASSWORD : 
        <input type="password" name="password" placeholder="Enter password" autocomplete="off" required maxlength="10" ></p>
    <input type="submit" value="LOGIN">
</form> {% endblock %}